<?xml version="1.0" encoding="utf-8" standalone="yes"?>  <!-- xhtml -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
        Adapted from
	Neutral Charisma by nodethirtythree + Templated.org
	http://templated.org/ | @templatedorg
	Released under the Creative Commons Attribution 3.0 License.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="keywords" content="XAS,BMM" />
    <meta name="description" content="Summary of {date} measurement" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Experiment: {date}</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="trac.css" />
  </head>
  <body>
    <div id="bg">
      <div id="outer">
	<div id="header">
	  <div id="logo">
	    <h1>Experiment: {date}</h1>
	  </div>
	  <div id="nav">
	    <img class="left" src="logo.png" height="50" alt="" />
	    <ul>
	      <li>
		<a href="https://www.bnl.gov/ps/beamlines/beamline.php?r=6-BM">
		  Beamline for Materials Measurement (NSLS-II 6-BM)
		</a>
	      </li>
	      <li>
		<a href="https://wiki-nsls2.bnl.gov/beamline6BM/index.php/Main_Page">
		  BMM wiki
		</a>
	      </li>
	    </ul>
	    <br class="clear" />
	  </div>
	</div>

	<div id="main">

	  <div id="content">
	    <div>
	      <h3>Experiment List</h3>
	      <ol>
		{experimentlist}
	      </ol>
	    </div>
 	  </div>
        </div>
      </div>


      <div id="copyright">
	experiment: {date} | Design adapted from:
	<a href="http://templated.org/free-css-templates/neutralcharisma/">Neutral Charisma</a>
	by <a href="http://nodethirtythree.com">nodethirtythree</a> + <a href="http://templated.org/">Templated.org</a>
	&amp; availble via
	<a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported</a>
      </div>
    </div>
  </body>
</html>
