	    <h3>Athena project</h3>
	    <p>
	      <a href="../prj/{basename}.prj">{basename}.prj</a>
	    </p>
	    <h3>XAS scans</h3>
	    <ul class="linkedList">
	      {scanlist}
	    </ul>
	  </div>
	  <div id="sidebar2">
	    <h3>Motor positions</h3>
            {motors}
	  </div>
	  <div id="content">
	    <div id="box1">
	      <h3>Sample details</h3>
	      <ul>
		<li><b>Sample composition:</b> {sample}</li>
		<li><b>Sample preparation:</b> {prep}</li>
		<li><b>Comment:</b> {comment}</li>
	      </ul>
	    </div>
	    {instrument}
	    </div>
	    <div id="content">
	    <div id="box2">
	      <h3>Snapshots</h3>
	      <ul class="imageList">
		<li class="first">
		  <a href="../snapshots/{basename}.png">
		    <img class="left" src="../snapshots/{basename}.png" width="80" height="60" alt="" /></a>
		  <span>Rough, automated data reduction</span>
		</li>
