########################################### -*- conf -*-
[scan]
experimenters = {name}

fast          = xafs_x -9 9 90
slow          = xafs_y -9 9 90
dwelltime     = 0.1
detector      = random

filename      = CeHIP

element       = Ce
edge          = L3
energy        = 5738.3

sample        = CeHIP
prep          = pressed and sliced
comment       = Welcome to BMM
