<?xml version="1.0" encoding="utf-8" standalone="yes"?>  <!-- xhtml -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
        Adapted from
	Neutral Charisma by nodethirtythree + Templated.org
	http://templated.org/ | @templatedorg
	Released under the Creative Commons Attribution 3.0 License.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="keywords" content="XAS,BMM,{filename}" />
    <meta name="description" content="Summary of {filename} measurement" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{measurement}: {filename}</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="trac.css" />
  </head>
  <body>
    <div id="bg">
      <div id="outer">
	<div id="header">
	  <div id="logo">
	    <h1>{measurement}: {filename}</h1>
	  </div>
	  <div id="nav">
	    <img class="left" src="logo.png" height="50" alt="" />
	    <ul>
	      <li>
		<a href="https://www.bnl.gov/ps/beamlines/beamline.php?r=6-BM">
		  Beamline for Materials Measurement (NSLS-II 6-BM)
		</a>
	      </li>
	      <li>
		<a href="https://wiki-nsls2.bnl.gov/beamline6BM/index.php/Main_Page">
		  BMM wiki
		</a>
	      </li>
	      <li class="first active">
		<a href="00INDEX.html">Experiment: {date}</a>
	      </li>
	      <li>
		<a href="messagelog.html#{rid}">
		  Timeline
		</a>
	      </li>
	    </ul>
	    <br class="clear" />
	  </div>
	</div>
	<div id="main">
	  <div id="sidebar1">

	    <script type="text/javascript">
	      <!--
		  function toggle_visibility(id) {{
		  var e = document.getElementById(id);
		  if(e.style.display == 'block')
		    e.style.display = 'none';
		  else
		    e.style.display = 'block';
		  }}
		  //-->
	    </script>
	    
	    <h2>Files</h2>
	    
	    <h3>Excel file</h3>
	    <p>
	      <a href="../maps/{xlsxout}">{xlsxout}</a>
	    </p>
	    
	    <h3>Matlab file</h3>
	    <p>
	      <a href="../maps/{matout}">{matout}</a>
	    </p>
	    
	  </div>
	  <div id="sidebar2">
	    <h3>Motor positions</h3>
	    <span style="font-size:0.6em;"><tt>{motors}</tt></span>
	  </div>
	  <div id="content">
	    <div>
	      <h3>Sample details</h3>
	      <ul>
		<li><b>Sample composition:</b> {sample}</li>
		<li><b>Sample preparation:</b> {prep}</li>
		<li><b>Comment:</b> {comment}</li>
	      </ul>
	    </div>
	    {instrument}
	    <div>
	      <h3>Snapshots</h3>
	      <ul class="imageList">
		<li class="first">
		  <a href="{websnap}">
		    <img class="left" src="{websnap}" width="80" height="45" alt="" /></a>
		  <span>Image from XAS web camera</span>&nbsp;&nbsp;&nbsp;&nbsp;
		  <a href="javascript:void(0)" onclick="toggle_visibility('webcam');" title="Click to show/hide the UID of this webcam image">(uid)</a><div id="webcam" style="display:none;"><small>{webuid}</small></div>
		</li>
		<li>
		  <a href="{anasnap}">
		    <img class="left" src="{anasnap}" width="80" height="60" alt="" /></a>
		  <span>Image from analog pinhole camera</span>&nbsp;&nbsp;&nbsp;&nbsp;
		  <a href="javascript:void(0)" onclick="toggle_visibility('anacam');" title="Click to show/hide the UID of this analog camera image">(uid)</a><div id="anacam" style="display:none;"><small>{anauid}</small></div>
		</li>
		<li>
		  <a href="{usb1snap}">
		    <img class="left" src="{usb1snap}" width="80" height="45" alt="" /></a>
		  <span>Image from USB camera #1</span>&nbsp;&nbsp;&nbsp;&nbsp;
		  <a href="javascript:void(0)" onclick="toggle_visibility('usb1cam');" title="Click to show/hide the UID of this USB cam image">(uid)</a><div id="usb1cam" style="display:none;"><small>{usb1uid}</small></div>
		</li>
		<li>
		  <a href="{usb2snap}">
		    <img class="left" src="{usb2snap}" width="80" height="45" alt="" /></a>
		  <span>Image from USB camera #2</span>&nbsp;&nbsp;&nbsp;&nbsp;
		  <a href="javascript:void(0)" onclick="toggle_visibility('usb2cam');" title="Click to show/hide the UID of this USB cam image">(uid)</a><div id="usb2cam" style="display:none;"><small>{usb2uid}</small></div>
		</li>
	      </ul>
	    </div>
	    <div>	
           <h3>Scan details</h3>
	      <ul>
		<li><b>Energy</b>: {energy} eV</li>
		<li><b>Fast motor</b>: {fast_motor}</li>
		<li><b>Slow motor</b>: {slow_motor}</li>
		<li><b>Start position</b>: fast={fast_init}, slow={slow_init}</li>
		<li><b>Element</b>: {element}</li>
		<li><b>Edge</b>: {edge}</li>
	      </ul>
	    </div>
	    <div>
            <h3>Experiment details</h3>
	      <ul>
		<li><b>Raster scan start time:</b> {seqstart}</li>
		<li><b>Raster scan end time:</b> {seqend}</li>
		<li><b>Monochromator:</b> {mono}</li>
		<li><b>Photon delivery mode:</b> {pdsmode}</li>
		<li><b>Experimenters:</b> {experimenters}</li>
		<li><b>General user proposal (GUP) number:</b> {gup}</li>
		<li><b>Safety approval form (SAF) number:</b> {saf}</li>
		<!-- <li><b>URL:</b> <a href="{url}">{url}</a></li> -->
		<!-- <li><b>DOI:</b> <a href="https://doi.org/{doi}">{doi}</li> -->
		<!-- <li><b>CIF:</b> <a href="{cif}">{cif}</a></li> -->
	      </ul>
	    </div>
	    <input id="showhideini" type="button" 
		   value="Show/hide the INI file used for this scan sequence" 
		   onclick="toggle_visibility('inifile');" />
	    <div id="inifile" style="display:none;">
	      <small>
		{initext}
		<br />
		command line arguments: {clargs}
	      </small>
	    </div>
	    <br class="clear" />
	  </div>
	  <br class="clear" />
	</div>
      </div>
      <div id="copyright">
	measurement: {filename} | Design adapted from:
	<a href="http://templated.org/free-css-templates/neutralcharisma/">Neutral Charisma</a>
	by <a href="http://nodethirtythree.com">nodethirtythree</a> + <a href="http://templated.org/">Templated.org</a>
	&amp; availble via
	<a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported</a>
      </div>
    </div>
  </body>
</html>
