ansiwrap==0.8.4
bluesky==1.11.0
bluesky_kafka==0.10.0
bluesky_queueserver==0.0.19
bluesky_unreal==0.post10.dev0+g4bd8210
bluesky_widgets==0.0.15
cycler==0.11.0
databroker==1.2.5
emojis==0.7.0
h5py==3.9.0
inflection==0.5.1
ipython==8.14.0
joblib==1.3.1
larch==4.0
lmfit==1.2.1
matplotlib==3.7.1
mendeleev==0.14.0
mpl_multitab==1.0.0
nslsii==0.9.1
numpy==1.25.0
openpyxl==3.1.2
ophyd==1.7.0
pandas==2.0.3
Pillow==9.5.0
Pillow==9.5.0
psutil==5.9.5
Pygments==2.15.1
redis==4.6.0
Requests==2.31.0
scikit_learn==1.3.0
scipy==1.11.1
slack_sdk==3.21.3
sympy==1.12
termcolor==2.3.0
tiled==0.1.0a96
tqdm==4.65.0
xraylib==4.1.3
