######################################################### -*- python -*-
# Cut and paste this line to import your macro after editing:
#
#     %run -i '{folder}/{base}_macro.py'
#
# Verify that your macro was loaded correctly:
#
#     {base}_macro??
#
# Then run the macro:
#
#     RE({base}_macro())
#                /
############### / #######################################
#              / 
#             /  Note that you are defining a command
#            /   that gets run in BlueSky
#           V
from BMM.suspenders import BMM_suspenders, BMM_clear_suspenders
def {base}_macro(ref=False, dryrun=False):
    '''User-defined macro for running a sequence of XAFS measurements at BMM.
    '''
    (ok, text) = BMM_clear_to_start()
    if ok is False:
        print(error_msg('\n'+text) + bold_msg('Quitting macro....\n'))
        return(yield from null())

    BMMuser.macro_dryrun = dryrun
    BMMuser.prompt, BMMuser.running_macro = False, True
    BMMuser.instrument = 'glancing angle stage'
    BMM_log_info('Beginning {base}_macro')
    def main_plan(ref):

        ### ---------------------------------------------------------------------------------------
        ### BOILERPLATE ABOVE THIS LINE -----------------------------------------------------------
        ##  EDIT BELOW THIS LINE
        #<--indentation matters!
    
{content}
        
        ##  EDIT ABOVE THIS LINE
        ### BOILERPLATE BELOW THIS LINE -----------------------------------------------------------
        ### ---------------------------------------------------------------------------------------

        yield from mv(xafs_det, 205)
        yield from mv(xafs_x, samx, xafs_pitch, samp)
        yield from ga.reset()

    def cleanup_plan():
        yield from mv(xafs_x, samx, xafs_pitch, samp)
        yield from end_of_macro()
        elapsed_time(start)

    start = time.time()        
    samx, samp = xafs_x.position, xafs_pitch.position
    BMM_suspenders()
    yield from finalize_wrapper(main_plan(ref), cleanup_plan())    
    yield from end_of_macro()
    BMM_log_info('{base}_macro finished!')
