######################################################### -*- python -*-
# Cut and paste this line to import your macro after editing:
#
#     %run -i '{folder}/macro.py'
#
# Verify that your macro was loaded correctly:
#
#     sample_sequence??
#
# Then run the macro:
#
#     RE(sample_sequence())
#                /
############### / #######################################
#              / 
#             /  Note that you are defining a command
#            /   that gets run in BlueSky
#           V
def sample_sequence():
    '''User-defined macro for running a sequence of motor motions and
    XAFS measurements
    '''
    (ok, text) = BMM_clear_to_start()
    if ok is False:
        print(colored('\n'+text, 'lightred') + colored('Quitting macro....\n', 'white'))
        return(yield from null())
    
    BMMuser.prompt = False
    BMM_log_info('Beginning sample macro')


    ### ---------------------------------------------------------------------------------------
    ### boilerplate above this line -----------------------------------------------------------
    ##  edit below this line
    
    
    ## sample 1
    yield from xafs('scan.ini', filename='samp1', sample='first sample')
    close_last_plot()                 # this command closes the plot on screen
    
    ## sample 2
    yield from mvr(xafs_wheel, -15)
    yield from xafs('scan.ini', filename='samp2', sample='another sample', comment='my comment')
    close_last_plot()

    ## sample 3
    yield from mvr(xafs_wheel, -15)
    yield from xafs('scan.ini', filename='samp3', sample='a different sample', prep='this sample prep', nscans=4)
    close_last_plot()


    ### some other useful commands:
    ###
    ###   ▶ move to a specific position in X and Y
    ###          yield from mv(xafs_x, 57, xafs_y, 123)
    ###
    ###   ▶ move X or Y by some amount
    ###          yield from mvr(xafs_x, 2)
    ###          yield from mvr(xafs_y, -1)
    ###
    ###   ▶ change to a different edge
    ###          yield from change_edge('Cu')
    ###
    ###   ▶ open/close the shutter
    ###          yield from shb.open_plan()
    ###          yield from shb.close_plan()
    ###
    ###   ▶ turn sample spinner on/off
    ###          yield from fan.on_plan
    ###          yield from fan.off_plan

    ##  edit above this line
    ### boilerplate below this line -----------------------------------------------------------
    ### ---------------------------------------------------------------------------------------
    
    BMMuser.prompt = True
    BMM_log_info('Sample macro finished!')
