######################################################### -*- python -*-
# Cut and paste this line to import your macro after editing:
#
#     %run -i '{folder}/macro.py'
#
# Verify that your macro was loaded correctly:
#
#     sample_sequence??
#
# Then run the macro:
#
#     RE(sample_sequence())
#                /
############### / #######################################
#              / 
#             /  Note that you are defining a command
#            /   that gets run in BlueSky
#           V
def sample_sequence():
    '''User-defined macro for running a sequence of motor motions and
    XAFS measurements
    '''
    (ok, text) = BMM_clear_to_start()
    if ok is False:
        print(colored('\n'+text, 'lightred') + colored('Quitting macro....\n', 'white'))
        return(yield from null())
    
    BMM_xsp.prompt = False
    BMM_log_info('Beginning sample macro')

    ### sample 1 ############################################################
    yield from mv(xafs_linx, 4.3, xafs_liny, 40.2)
    yield from xafs('scan.ini')
    close_last_plot()                 # this command closes the plot on screen
    # yield from mvr(xafs_wheel, -15) # example of rotating to next sample wheel position
    
    ### sample 2 ############################################################
    yield from mv(xafs_linx, 5.4, xafs_liny, 20.8)
    yield from xafs('scan.ini', filename='blah2', sample='another sample')
    close_last_plot()

    ### sample 3 ############################################################
    yield from mv(xafs_linx, 6.5, xafs_liny, 1.5)
    yield from xafs('scan.ini', filename='blah3', sample='a different sample', nscans=4)
    close_last_plot()

    BMM_xsp.prompt = True
    BMM_log_info('Sample macro finished!')
