		<li>
		  <a href="{snap}">
		    <img class="left" src="{snap}" width="80" height="45" alt="" /></a>
		  <span>Image from {description}</span>&nbsp;&nbsp;&nbsp;&nbsp;
		  <a href="javascript:void(0)" onclick="toggle_visibility('{camera}');" title="Click to show/hide the UID of this {camera} image">(uid)</a><div id="{camera}" style="display:none;"><small>{uid}</small></div>
		</li>
