    <h3>XRF spectrum</h3>
	    <p>
	      <a href="{xrffile}" title="Click to see the text of {xrffile}">{basename}</a>&nbsp;&nbsp;&nbsp;&nbsp;
	      <a href="javascript:void(0)" onclick="toggle_visibility('XRF');" title="Click to show/hide the UID of this XRF scan">(uid)</a><div id="XRF" style="display:none;"><small>{xrfuid}</small></div>
	    </p>
