		<li>
		  <a href="{ga_align}">
		    <img class="left" src="{ga_align}" width="80" height="60" alt="" /></a>
		  <span>Glancing angle stage alignment</span><br>
		  <a href="javascript:void(0)" onclick="toggle_visibility('ga_yuid');" title="Click to show/hide the UID of the scan in Y">(y)</a><div id="ga_yuid" style="display:none;"><small>{ga_yuid}</small></div>
		  <a href="javascript:void(0)" onclick="toggle_visibility('ga_puid');" title="Click to show/hide the UID of the scan in pitch">(pitch)</a><div id="ga_puid" style="display:none;"><small>{ga_puid}</small></div>
		  <a href="javascript:void(0)" onclick="toggle_visibility('ga_fuid');" title="Click to show/hide the UID of the scan in fluorescence">(fluo)</a><div id="ga_fuid" style="display:none;"><small>{ga_fuid}</small></div>
		</li>
