		<li>
		  <a href="{xrfsnap}">
		    <img class="left" src="{xrfsnap}" width="80" height="60" alt="" /></a>
		  <span>XRF spectra at {pccenergy} eV</span><br><span style="font-size:0.6em;">Total counts: {ocrs}<br>{symbol} counts: {rois}</span>
		</li>
