<?xml version="1.0" encoding="utf-8" standalone="yes"?>  <!-- xhtml -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
        Adapted from
	Neutral Charisma by nodethirtythree + Templated.org
	http://templated.org/ | @templatedorg
	Released under the Creative Commons Attribution 3.0 License.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="keywords" content="XAS,BMM,{filename}" />
    <meta name="description" content="Summary of {filename} measurement" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{measurement}: {filename}</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="trac.css" />
  </head>
  <body>
    <div id="bg">
      <div id="outer">
	<div id="header">
	  <div id="logo">
	    <h1>{measurement}: {filename}</h1>
	  </div>
	  <div id="nav">
	    <a href="https://www.nist.gov/mml/mmsd/synchrotron-science-group">
	      <img class="left" src="logo.png" height="50" alt="" />
	    </a>
	    <ul>
	      <li>
		<a href="https://www.bnl.gov/ps/beamlines/beamline.php?r=6-BM">
		  Beamline for Materials Measurement (NSLS-II 6-BM)
		</a>
	      </li>
	      <li>
		<a href="https://nsls-ii-bmm.github.io/BeamlineManual/index.html">
		  BMM&nbsp;manual
		</a>
	      </li>
	      <li class="first active">
		<a href="00INDEX.html">Experiment:&nbsp;{date}</a>
	      </li>
	      <li>
		<a href="messagelog.html#{rid}">
		  Timeline
		</a>
	      </li>
	    </ul>
	    <br class="clear" />
	  </div>
	</div>
	<div id="main">
	  <div id="sidebar1">

	    <script type="text/javascript">
	      <!--
		  function toggle_visibility(id) {{
		  var e = document.getElementById(id);
		  if(e.style.display == 'block')
		    e.style.display = 'none';
		  else
		    e.style.display = 'block';
		  }}
		  //-->
	    </script>
	    
	    <h2>Sequence #{seqnumber}</h2>
	    <br><br>
	    <h2>Files</h2>
